# Used by package managers
/bower_components/*
/node_modules/*
/plugins/*
/vendor/*

# Used for temporary storage
/logs/*
/tmp/*

# Used for sensitive/volatile config
/.debug
/.env

# Used by Vagrant
/.vagrant/*
