# Used by package managers
/bower_components/*
/vendor/*

# Used for temporary storage
/logs/*
/tmp/*
/webroot/assets/*
/webroot/css/*.css.map

# Used for sensitive/volatile config
/.debug
/.env

# Used by Vagrant
/.vagrant/
