
//== Colors

//## Brand colors for use across Bootstrap.
$brand-success:         #1A9F50 !default;
$brand-info:            #76C0DB !default;
$brand-warning:         #F3FFBD !default;
$brand-danger:          #FF1654 !default;

//== Components

//## Disable radius accross all components.
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
